<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>LandingPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminActionsServlet</servlet-name>
        <servlet-class>Controllers.AdminActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionsServlet</servlet-name>
        <servlet-class>Controllers.StaffActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>Controllers.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adistribute</servlet-name>
        <servlet-class>Controllers.Adistribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aeditproduct</servlet-name>
        <servlet-class>Controllers.Aeditproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aeditproduct_delete</servlet-name>
        <servlet-class>Controllers.Aeditproduct_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agetproducts</servlet-name>
        <servlet-class>Controllers.Agetproducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aincreasequantity</servlet-name>
        <servlet-class>Controllers.Aincreasequantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Amanagedefective</servlet-name>
        <servlet-class>Controllers.Amanagedefective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anewproduct</servlet-name>
        <servlet-class>Controllers.Anewproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aview</servlet-name>
        <servlet-class>Controllers.Aview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bgetproducts</servlet-name>
        <servlet-class>Controllers.Bgetproducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bpullout</servlet-name>
        <servlet-class>Controllers.Bpullout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bsales</servlet-name>
        <servlet-class>Controllers.Bsales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bview</servlet-name>
        <servlet-class>Controllers.Bview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agetmal</servlet-name>
        <servlet-class>Controllers.Agetmal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionsServlet</servlet-name>
        <url-pattern>/AdminActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionsServlet</servlet-name>
        <url-pattern>/StaffActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adistribute</servlet-name>
        <url-pattern>/Adistribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aeditproduct</servlet-name>
        <url-pattern>/Aeditproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aeditproduct_delete</servlet-name>
        <url-pattern>/Aeditproduct_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agetproducts</servlet-name>
        <url-pattern>/Agetproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aincreasequantity</servlet-name>
        <url-pattern>/Aincreasequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Amanagedefective</servlet-name>
        <url-pattern>/Amanagedefective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anewproduct</servlet-name>
        <url-pattern>/Anewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aview</servlet-name>
        <url-pattern>/Aview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bgetproducts</servlet-name>
        <url-pattern>/Bgetproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bpullout</servlet-name>
        <url-pattern>/Bpullout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bsales</servlet-name>
        <url-pattern>/Bsales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bview</servlet-name>
        <url-pattern>/Bview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agetmal</servlet-name>
        <url-pattern>/Agetmal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <exception-type>CredentialsError</exception-type>
        <location>/error_credentials.jsp</location>
    </error-page>
    <error-page>
        <exception-type>SessionError</exception-type>
        <location>/error_session.jsp</location>
    </error-page>
</web-app>
