<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>LandingPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminActionsServlet</servlet-name>
        <servlet-class>Controllers.AdminActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionsServlet</servlet-name>
        <servlet-class>Controllers.StaffActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controllers.DBManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionsServlet</servlet-name>
        <url-pattern>/AdminActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionsServlet</servlet-name>
        <url-pattern>/StaffActionsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <exception-type>CredentialsError</exception-type>
        <location>/error_credentials.jsp</location>
    </error-page>
    <error-page>
        <exception-type>SessionError</exception-type>
        <location>/error_session.jsp</location>
    </error-page>
</web-app>
